@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@font-face {
  font-family: 'Mona Sans';
  src: url('/font/Mona-Sans.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 0% 200%;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/font/Hubot-Sans.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 0% 200%;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('/font/Martian-Mono.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hubot {
  font-family: "Hubot Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  padding: 32px 32px 12px !important;
  margin: 0 auto !important;
}